@charset "UTF-8";

/*--------------------------------------------------------------
    TABLE OF CONTENTS:
----------------------------------------------------------------
1.0 - Settings: used with preprocessors and contain font, colors definitions, etc.
2.0 - Tools: globally used mixins and functions. Use for preprocessor only.
3.0 - Generic: reset and/or normalize styles, box-sizing definition, etc. 
4.0 - Elements: styling for bare/generic HTML elements 
        - Typography: Headings, Paragraphs, Blockquotes, Anchors
        - Hero
        - Footer
5.0 - Objects: class-based selectors which define undecorated design patterns, building blocks
        - Framework
6.0 - Components: specific designed components
        - Navigation
        - Form 
        - Table
        
7.0 - Utilities: utilities and helper classes with ability to override anything which goes before in the triangle, eg. hide helper class
        - Alignment	    
--------------------------------------------------------------*/
/*--------------------------------------------------------------
    3.0 - GENERIC
-------------------------------------------------------------- */

/* ----- UNIVERSAL ----- */

* {
        font-family: 'Source Sans Pro', sans-serif;
        -o-box-sizing: border-box;
        -ms-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
}

html {
        font-size: 16px;
        line-height: 28px;
        color: #3F3C45;
}

/*--------------------------------------------------------------
    4.0 - ELEMENTS
-------------------------------------------------------------- */
b,
h2,
h2 b,
h3 {
        font-weight: 700;
}

h1,
h2,
h3,
header #bg-blue p,
header nav,
header #bg-orange p,
#bg-hero,
main p a,
tfoot,
thead tr:last-child,
thead tr:nth-child(2)  {
        text-transform: uppercase;
}

/* ----- TYPOGRAPHY ----- */

h1 b {
        font-size: 50px;
}

h2 {
        margin-top: 0;
        font-weight: 300;
        font-size: 18px;
}

h2 b {
        font-size: 35px;
}

h3 {
        color: #fff;
}

span {
        color: #FE8360;
        font-size: 35px;
}



/*--------------------------------------------------------------
    5.0 - OBJECTS
-------------------------------------------------------------- */

/* ----- FRAMEWORK ----- */
.wrapper {
        width: 1024px;
        margin: 0 auto;
}

.row {
        display: flex;
        justify-content: space-between;
}

/*--------------------------------------------------------------
    6.0 - COMPONENTS
-------------------------------------------------------------- */  
#bg-hero p,
footer,
#bg-orange,
#bg-blue,
nav a {
        color: #fff;
}

#bg-hero p b,
#bg-blue h1 {
        font-size: 50px;
}

#bg-gray span,
footer span {
        font-size: 15px;
}

#bg-hero p,
#bg-blue h1,
#bg-orange h1,
#bg-gray h2 {
        font-weight: 300;
}

#bg-hero p,
#bg-blue h1,
#bg-orange h1 {
        font-size: 30px;
}

#bg-gray h2 {
        font-size: 14px;
        line-height: 2px;
        margin: 5px 0px;
}

#bg-gray h2 b { 
        font-size: 25px;
        line-height: 35px;
}


footer nav,
address,
footer ul {
        margin-top: 0;
}

footer span,
footer li a {
        text-decoration: none;
        color: #B6BCC7;
}

footer span:hover,
footer li a:hover {
        color: #fff;     
}

h3,
main h2,
header nav ul {
        margin-bottom: 0;
}

#bg-blue,
#bg-gray {
        margin-bottom: 50px;   
}

#bg-blue,
#bg-orange {
        padding: 60px;  
}

#bg-blue h1,
#bg-orange h1 {
        text-align: left;
        line-height: 42px;
}

/* ----- HERO ----- */

#bg-hero {
        background: url(../img/bg-lap-top.jpg) center no-repeat ;
        background-size: cover;
        -moz-background-size: cover;
        -webkit-background-size: cover;
        -o-background-size: cover;
        -ms-background-size: cover;
        padding: 220px 0px 50px 0px;
        text-align: center;
        margin-bottom: 50px;
}

.row h1 {
        margin: 0;
}

header p a {
        color: #3F3C45;
}

/* ----- FOOTER ----- */

footer {
        background-color: #4D515C;
        padding: 10px;
        margin-top: 50px;
}

footer ul {
        list-style: none;
        padding-left: 0;
        font-style: normal;
}

footer section:last-child li {
        display: inline-block;
}

footer .row {
        justify-content: left;
}

footer section {
        margin-right: 100px;
}

/* ----- NAVIGATION ----- */
header nav a,
button,
tfoot a,
header nav ul {
        background-color: #FE8360;
}

header p a,
header p {
        text-decoration: none;
        font-size: 15px;
}

header > .row {
        align-items: center;
}

header nav ul {
        padding: 0;
        text-align: right;
}

header .row div:nth-child(2) {
        width: 268px;
}

header nav a {
        display: inline-block;
        text-decoration: none;
        padding: 10px 15px;
}

header nav a:hover {
        background-color: #51CCF8;
}

header li {
        display: inline-block;
}

header p a:hover {
        color: #FE8360;
}

header .row {
        text-align: right;
}

footer li {
        text-decoration: none;
        margin-right: 23px;
}

footer nav ul {
        padding: 0;
}

/* ----- BUTTONS ----- */
main p a:hover,
button:hover,
tfoot a:hover,
header p a:hover,
header nav a:hover,
header p {
        visibility:visible; 
        -ms-transition: background-color 00.8s;
        -webkit-transition: background-color 0.8s;
        -moz-transition: background-color 0.8s;
        -o-transition: background-color 0.8s;
        transition: background-color 0.8s;
}

main p a {
        background-color: #FE8360;
        color: #fff;
        text-decoration: none;
        padding: 10px;
        padding-left: 15px;
        padding-right: 15px;
        margin-left: 20px;
}

main p a:hover {
        background-color: #51CCF8;      
}
 
/* ----- SPACING ----- */
#bg-orange {
        background-color: #FE8360;    
}

#bg-blue {
        background-color: #51CCF8;  
}


#bg-gray {
        background-color: #E7F5F8;
        padding: 20px;
}

main > .row {
        margin-bottom: 30px;
}


/* ----- FORM ----- */
input,
#duration,
#extension {
        padding: 5px;
}

#duration,
#extension {
        width: 150px;
}

input:focus,
select:focus {
        border: 1px #FE8360 solid;
        outline: 0;
}

label,
button {
        margin-left: 10px;
}

button {
        color: #fff;
        border: none;
        padding: 7px;
        padding-left: 30px;
        padding-right: 30px;
        text-transform: uppercase;
}

#bg-gray div:first-child {
        margin-bottom: 10px;
}

#bg-gray div.row {
        align-items: center;
}

button:hover {
        background-color: #51CCF8;
}

form {
        text-align: center;
}

form p {
        display: inline-block;
}

input {
        width: 350px;
}



/* ----- TABLE ----- */
th b,
tfoot {
        font-weight: 700;
}

th,
td {
        border-right: solid #E0DFE1 3px; 
        border-left: solid #E0DFE1 3px
}

thead tr:nth-child(2) th,
thead tr:last-child th {
        padding-top: 5px;
}

thead tr:first-child th {
        padding-top: 20px;
}

tbody tr:first-child td {
        padding-top: 30px;
}

tbody tr:last-child td {
        padding-bottom: 30px;
}

tfoot tr:last-child td {
        padding-bottom: 20px;
}

tbody td {
        padding: 5px 30px;
}

table {
        width: 300px;
        border: solid #E0DFE1 3px;
        border-collapse: collapse;
        text-align: center;
        margin: 0 auto;
}

thead tr:last-child a {
        background-color: #51CCF8;
        color: #fff;
        text-decoration: none;
        padding: 5px 15px;
}

tr:first-child th  {
        font-weight: 200;
        font-size: 50px;
}

tbody tr {
        border-top: solid #E0DFE1 3px;
}

tbody tr:first-child {
        border-top: 0;
}

tfoot a {
        color: #fff;
        text-decoration: none;
        padding: 5px 40px;
}
 
tfoot a:hover {
        background-color: #51CCF8;
}



/* ----- POSITIONING ----- */
#person-laptop {
        background: url(../img/person-lap-top.jpg) center no-repeat;
        background-size: cover;
        -moz-background-size: cover;
        -webkit-background-size: cover;
        -o-background-size: cover;
        -ms-background-size: cover;
        width: 380px;
        background-position-y: 4px;
} 

#person-laptop {
        position: relative;
        top: 0;
        left: 0;
}

#person-laptop > div {
        position: absolute;
        top: -9px;
        left: -13px;
}

/*--------------------------------------------------------------
    7.0 - UTILITIES
-------------------------------------------------------------- */

/* ----- ALIGNMENT ----- */
.sr-only {
        position: absolute;
        position: absolute !important;
        width: 1px !important;
        height: 1px !important;
        padding: 0 !important;
        margin: -1px !important;
        overflow: hidden !important;
        white-space: nowrap !important;
        border: 0 !important;
}

.col-3 {
        width: 328px;
        line-height: 28px;
}

.col-3 div:last-child p {
        margin-top: 0;
}

.col-3 div:first-child {
        margin-right: 30px;
}

.col-3 div:last-child h2 {
        font-weight: 700;
}

#col-2 {
        width: 612px;
}





